* {
    margin: auto;
    padding: auto;
    font-family: 'Montserrat';
}

body {
    background: black;
}

h1 {
    color: white;
    margin-left: 800px;
}

p {
    width: 474.93px;
    /* height: 60px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vw;
    line-height: 59px;
    text-align: center;
    justify-content: center;
    /* margin: -44px 152px 28px 152px;*/

}

p a {
    border-radius: 9px;
    color: #ffc400;
    background: black;
    text-decoration: none;
    border-radius: 30px;
    text-shadow: 0px 0px 5px rgb(255, 238, 0);
    padding: 5px 5px;
    transition: all 1s;

}

p a:hover {

    color: rgb(0, 255, 149);
    border-radius: 10px;
    text-shadow: 0px 0px 10px rgb(0, 255, 149);
}